<a href="https://colab.research.google.com/github/TransparentDeveloper/Dacon_Challenge/blob/main/%EA%B8%B0%EC%B4%88%EB%B6%80%ED%84%B0_%EC%97%B0%EC%8A%B5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞(import)

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
--- 
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colabÏóê Î∂àÎü¨ÏòµÎãàÎã§.  
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§Ìñâ ÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
!wget 'https://bit.ly/3gLj0Q6'

# zipfile Î™®ÎìàÏùÑ ÏûÑÌè¨Ìä∏
# 2Î≤àÏß∏ Îß§Í∞úÎ≥ÄÏàòÎ•º 'r'Î°ú ÏßÄÏ†ïÌï¥ÏÑú ÏùΩÍ∏∞ Î™®ÎìúÎ°ú zipÌååÏùºÏùÑ Ïó∞Îã§.
# extractall() Î©îÏÑúÎìúÎ•º Ïù¥Ïö©ÌïòÎ©¥ zip ÌååÏùºÏùò Î™®Îì† ÌååÏùºÍ≥º Ìè¥ÎçîÎ•º ÌòÑÏû¨ ÏûëÏóÖ ÎîîÎ†âÌÑ∞Î¶¨Î°ú ÏïïÏ∂ï Ìï¥Ï†úÌï† Ïàò ÏûàÎã§.
import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-03-28 00:52:55--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2022-03-28 00:52:55--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 74.125.195.138, 74.125.195.139, 74.125.195.113, ...
Connecting to drive.google.com (drive.google.com)|74.125.195.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/5pgit1liv3b6jj9kln2s03irmfkcusi0/1648428750000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-03-28 00:52:55--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/5pgit1liv3b6jj9kln2s03irmfkcusi0/1648428750000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 74.125.195.132, 2607:f8b0:400e:c09::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|74.125.195.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‚Äò3gLj0Q6.1‚Äô

3gLj0Q6.1           100%[===================>]  38.29K  --.-KB/s    in 0s

2022-03-28 00:52:55 (96.7 MB/s) - ‚Äò3gLj0Q6.1‚Äô saved [39208/39208]

## Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
---
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú csv ÌååÏùºÏùÑ DataFrame Í∞ùÏ≤¥Î°ú Î∂àÎü¨ÏòµÎãàÎã§.

In [ ]:
import pandas as pd

# data Ìè¥ÎçîÏóê ÏûàÎäî test.csv ÌååÏùºÍ≥º train.csv ÌååÏùº Î∂àÎü¨Ïò§Í∏∞
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

## Ïã§Ïäµ1
---
shape Î•º Ïù¥Ïö©Ìï¥ train Í≥º test Ïùò ÌñâÍ≥º Ïó¥Ïùò Í∞ØÏàòÎ•º ÌååÏïÖÌïòÎäî ÏΩîÎìú

In [ ]:
train.shape

(1459, 11)

In [ ]:
test.shape

(715, 10)

## Ïã§Ïäµ2
---
head() Î©îÏÑúÎìúÎ•º Ïù¥Ïö©Ìï¥ `train Îç∞Ïù¥ÌÑ∞Ïùò ÏÉÅÏúÑ 10Í∞ú ÌñâÏùÑ Ï∂úÎ†•`Ìï¥ Î≥¥ÏÑ∏Ïöî.

In [ ]:
train.head(10)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0
5,13,2,13.6,0.0,1.7,80.0,1073.0,0.027,34.0,15.0,39.0
6,14,3,10.6,0.0,1.5,58.0,1548.0,0.038,62.0,33.0,23.0
7,16,21,16.0,0.0,6.0,21.0,1961.0,0.050,90.0,28.0,146.0
8,19,9,13.8,0.0,1.9,64.0,1344.0,0.039,93.0,19.0,39.0
9,20,14,17.2,0.0,2.1,32.0,1571.0,0.025,64.0,19.0,83.0

In [ ]:
test.head(10)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0
5,10,9,20.2,0.0,4.3,39.0,2000.0,0.034,22.0,7.0
6,11,18,19.0,0.0,2.7,80.0,2000.0,0.028,17.0,12.0
7,12,18,31.2,0.0,2.2,42.0,621.0,0.117,94.0,69.0
8,15,6,20.1,0.0,0.8,78.0,463.0,0.026,57.0,33.0
9,17,8,17.0,1.0,0.9,100.0,200.0,0.022,12.0,12.0

# 2. Ï†ÑÏ≤òÎ¶¨

## Ïã§Ïäµ3
---
`train.csv` Ïùò Í≤∞Ï∏°ÏπòÎ•º ÌôïÏù∏ÌïòÎäî ÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥ Î≥¥ÏÑ∏Ïöî.

In [ ]:
print(train.isnull())
print('\n--------------------------------train.csv Í∞Å Ïó¥ Î≥Ñ Í≤∞Ï∏°Ïπò Ïàò--------------------------------\n')
print(test.isnull().sum())

         id   hour  hour_bef_temperature  hour_bef_precipitation  \
0     False  False                 False                   False
1     False  False                 False                   False
2     False  False                 False                   False
3     False  False                 False                   False
4     False  False                 False                   False
...     ...    ...                   ...                     ...
1454  False  False                 False                   False
1455  False  False                 False                   False
1456  False  False                 False                   False
1457  False  False                 False                   False
1458  False  False                 False                   False

      hour_bef_windspeed  hour_bef_humidity  hour_bef_visibility  \
0                  False              False                False
1                  False              False                False
2                  False              False                False
3                  False              False                False
4                  False              False                False
...                  ...                ...                  ...
1454               False              False                False
1455               False              False                False
1456               False              False                False
1457               False              False                False
1458               False              False                False

      hour_bef_ozone  hour_bef_pm10  hour_bef_pm2.5  count
0              False          False           False  False
1              False          False           False  False
2              False          False           False  False
3              False          False           False  False
4              False          False           False  False
...              ...            ...             ...    ...
1454           False          False           False  False
1455           False          False           False  False
1456           False          False           False  False
1457           False          False           False  False
1458           False          False           False  False

[1328 rows x 11 columns]

--------------------------------train.csv Í∞Å Ïó¥ Î≥Ñ Í≤∞Ï∏°Ïπò Ïàò--------------------------------

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

## Ïã§Ïäµ4
---
DataFrame Í∞ùÏ≤¥Ïùò info() Îß§ÏÑúÎìúÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú train Í≥º test Ïùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ ÌôïÏù∏ÌïòÎäî ÏΩîÎìúÎ•º ÏïÑÎûòÏóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.

In [ ]:
print('- train.info')
train.info()
print('\n')
print('- test.info')
test.info()

- train.info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1328 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1328 non-null   int64
 1   hour                    1328 non-null   int64
 2   hour_bef_temperature    1328 non-null   float64
 3   hour_bef_precipitation  1328 non-null   float64
 4   hour_bef_windspeed      1328 non-null   float64
 5   hour_bef_humidity       1328 non-null   float64
 6   hour_bef_visibility     1328 non-null   float64
 7   hour_bef_ozone          1328 non-null   float64
 8   hour_bef_pm10           1328 non-null   float64
 9   hour_bef_pm2.5          1328 non-null   float64
 10  count                   1328 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 124.5 KB


- test.info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    float64
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
 7   hour_bef_ozone          715 non-null    float64
 8   hour_bef_pm10           715 non-null    float64
 9   hour_bef_pm2.5          715 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 61.4 KB

# 3. Î™®Îç∏ÎßÅ

## üëã Ïã§Ïäµ
---
scikit-learn ÏúºÎ°úÎ∂ÄÌÑ∞ ÏùòÏÇ¨Í≤∞Ï†ïÎÇòÎ¨¥ Î™®ÎìàÏùÑ Î∂àÎü¨Ïò§Îäî ÏΩîÎìúÎ•º ÏïÑÎûòÏóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî.

In [ ]:
from sklearn.tree import DecisionTreeRegressor

- Í≤∞Ï∏°Ïπò Ï†úÍ±∞

In [ ]:
train = train.dropna()

In [ ]:
test =test.fillna(0)

- Í≤∞Ï∏°Ïπò Ï†úÍ±∞ÎêòÏóàÎäîÏßÄ ÌôïÏù∏

In [ ]:
print(train.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

In [ ]:
print(test.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

## üëã Ïã§Ïäµ(1/2)
---
train Îç∞Ïù¥ÌÑ∞Ï§ë <br>
ÏòàÏ∏°Ìï¥ÏïºÌï† `count` ÌîºÏ≥êÎ•º drop()Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÍ≥†, axis=1 ÏòµÏÖòÏùÑ ÏÇ¨Ïö©Ìï¥ Ìï¥Îãπ Ïó¥ÏùÑ Ï†úÏô∏Ìïú Îç∞Ïù¥ÌÑ∞Îì§ÏùÑ `X_train` Ïù¥ÎùºÎäî Ïù¥Î¶ÑÏùò DataFrame Í∞ùÏ≤¥Î°ú ÎßåÎì§Í≥† <br>
`count` ÌîºÏ≥êÎßåÏùÑ Îç∞Ïù¥ÌÑ∞Î°ú Í∞ñÎäî `Y_train` Ïù¥ÎùºÎäî Ïù¥Î¶ÑÏùò DataFrame Í∞ùÏ≤¥Î°ú ÎßåÎìúÎäî ÏΩîÎìúÎ•º ÏïÑÎûòÏóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî

In [ ]:
X_train = train.drop(['count'],axis=1)
Y_train = train['count']

## üëã Ïã§Ïäµ(2/2)
---
`model` Î≥ÄÏàòÎ™ÖÏúºÎ°ú Î™®Îç∏ÏùÑ ÏÑ†Ïñ∏ÌïòÍ≥†, fit() Ìï®ÏàòÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú, `X_train` ÏùÑ input ÏúºÎ°ú ÏÇºÍ≥†, `Y_train` ÏùÑ output ÏúºÎ°ú ÏÇºÏïÑ Î™®Îç∏ÏùÑ ÌõàÎ†®ÏãúÌÇ§Îäî ÏΩîÎìúÎ•º ÏïÑÎûòÏóê ÏûëÏÑ±ÌïòÏÑ∏Ïöî

In [ ]:
model = DecisionTreeRegressor()
model.fit(X_train,Y_train)

DecisionTreeRegressor()

## üëã Ïã§Ïäµ
---
predict() Î•º Ïù¥Ïö©Ìï¥ test data Î•º ÌõàÎ†®Îêú Î™®Îç∏Î°ú ÏòàÏ∏°Ìïú data Î•º ÏÉùÏÑ±ÌïòÍ≥† ÏòàÏ∏°Í≤∞Í≥º ÏÉÅÏúÑ 5Í∞úÎ•º Ï∂úÎ†•ÌïòÎäî ÏΩîÎìúÎ•º ÏûëÏÑ±ÌïòÏÑ∏Ïöî.

In [ ]:
pred = model.predict(test)
print(pred[ :5])

[106. 148.  88.  49.  64.]

## üëã Ïã§Ïäµ
---
1. submission.csv ÌååÏùºÏùÑ read_csv() Î•º Ïù¥Ïö©Ìï¥ df ÌÅ¥ÎûòÏä§Î°ú Î∂àÎü¨ÏòµÎãàÎã§.
2. submission df ÌååÏùºÏùò `count` ÌîºÏ≥êÎ•º ÏòàÏ∏°Í≤∞Í≥ºÎ°ú Ìï†ÎãπÌï©ÎãàÎã§.
3. submission df ÌååÏùºÏùÑ to_csv() Î•º Ïù¥Ïö©Ìï¥ csv ÌååÏùºÎ°ú ÎÇ¥Î≥¥ÎãôÎãàÎã§. Ïó¨Í∏∞ÏÑú index ÏòµÏÖòÏùÄ False Î°ú ÏßÄÏ†ïÌï¥Ï£ºÏñ¥Ïïº Ï†ïÎãµ ÌòïÏãùÍ≥º ÎßûÏïÑ Îñ®Ïñ¥Ï†∏ Ìó§Îçî Ïò§Î•òÍ∞Ä ÎÇòÏßÄ ÏïäÏäµÎãàÎã§.

In [ ]:
# submission.csv ÌååÏùº df ÌååÏùºÎ°ú Î∂àÎü¨Ïò§Í∏∞
submission = pd.read_csv('data/submission.csv')

In [ ]:
# submission df ÌååÏùºÏùò count ÌîºÏ≥êÏóê ÏòàÏ∏°Í≤∞Í≥º Ìï†ÎãπÌïòÍ∏∞
submission['count'] = pred

In [ ]:
# Ï†úÏ∂úÌååÏùº ÏÉùÏÑ±ÌïòÍ∏∞
submission.to_csv('sub.csv',index=False)